@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75.125rem;

  /* Colors */
  --color-secondary: #db4444;
  --color-gold: #ffad33;
  --color-border: rgba(0, 0, 0, 0.3);
  --color-accent: #00ff66;
}